*{
    box-sizing: border-box;
}

.ordersContainer h1{
    text-align: center;
}

div h2{
    text-align: center;
}

.OrderTable{
    border: none;
    margin: 0 auto 4rem;
    position: relative;
    width: 50%;
}
tr{
    background-color: #d9d9d936;
}
th,td{
    border: none;
    padding: 10px;
}

.totalPrice{
    border-top: 2px solid #fff;
    bottom: -2.5rem;
    margin-top: 10px;
    padding-left: 84.85%;
    position: absolute;
    right: 0;
    text-align: right;
    width: 100%;
}